{%extends 'client/cake-977/base.html'%}
{%load static%}
{%block title%}
    <title>{{settings.outlet_name}}</title>
{%endblock%}

{%block page_content%}
{%include 'client/cake-977/partials/top_ad.html'%}
{%include 'client/cake-977/partials/mob_navigation.html'%}
{%include 'client/cake-977/partials/desktop_navigation.html'%}
{%include 'client/cake-977/partials/search_bar.html'%}
{%include 'client/cake-977/partials/mob_category.html'%}
{%include 'client/cake-977/partials/tab_category.html'%}
{%include 'client/cake-977/partials/badge_menu.html'%}
{%include 'client/cake-977/partials/mobile_fixed_footer.html'%}

 <main>

      <div class="account-login" id="account-login">
      <div class="form-container sign-in-container">

        <form method="post" action="{{ action_url }}">
            
            {%csrf_token%}
          <h1>{% if token_fail %}Bad token{% else %}Change Password{% endif %}</h1>
           {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
          {% else %}
          {%if form%}
          <p class="small">Enter  new password to reset your password</p>
          {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

             {% if user.is_authenticated %}
             <div class="alert alert-danger">
                {% include "account/snippets/already_logged_in.html" %}
             </div>
            {% endif %}
          {{form.password1}}
          {{form.password2}}
          

          
         <!--  <div class="custom-control custom-checkbox remember-me small">
            <input type="checkbox" class="custom-control-input" id="customCheckremember" name="example3">
            <label class="custom-control-label" for="customCheckremember">Remember me</label>
          </div> -->
          <div class="loginform-btn-section">
            <button class="btn btn-primary" type="submit">Change Password</button>
            
          </div>
          {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
          {%endif%}
        </form>
        
      </div>
    </div> 

  </main>





{%include 'client/cake-977/partials/footer.html'%}


{%endblock%}

{%block js%}
{{block.super}}


{%endblock%}