{%extends 'client/cake-977/base.html'%}
{%load static%}
{%block title%}
    <title>{{page_title}}</title>
{%endblock%}

{%block page_content%}
{%include 'client/cake-977/partials/top_ad.html'%}
{%include 'client/cake-977/partials/mob_navigation.html'%}
{%include 'client/cake-977/partials/desktop_navigation.html'%}
{%include 'client/cake-977/partials/search_bar.html'%}
{%include 'client/cake-977/partials/mob_category.html'%}
{%include 'client/cake-977/partials/tab_category.html'%}
{%include 'client/cake-977/partials/badge_menu.html'%}
{%include 'client/cake-977/partials/mobile_fixed_footer.html'%}
 <main>

    <div style="margin: 50px;">
                
                <div class="row justify-content-center">

                    <div class="col-lg-5 col-md-7">
                        <h2>Reset Password Done</h2>
                             {% if user.is_authenticated %}
                             <div class="alert alert-danger">
                                {% include "account/snippets/already_logged_in.html" %}
                             </div>
                            {% endif %}                                           
                        <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
                      
                    </div>
                </div>

            </div> <!-- container -->

    </main>





{%include 'client/cake-977/partials/footer.html'%}


{%endblock%}

{%block js%}
{{block.super}}


{%endblock%}