{%extends 'client/cake-977/base.html'%}
{%load static%}
{%block title%}
    <title>{{page_title}}</title>
{%endblock%}

{%block page_content%}
{%include 'client/cake-977/partials/top_ad.html'%}
{%include 'client/cake-977/partials/mob_navigation.html'%}
{%include 'client/cake-977/partials/desktop_navigation.html'%}
{%include 'client/cake-977/partials/search_bar.html'%}
{%include 'client/cake-977/partials/mob_category.html'%}
{%include 'client/cake-977/partials/tab_category.html'%}
{%include 'client/cake-977/partials/badge_menu.html'%}
{%include 'client/cake-977/partials/mobile_fixed_footer.html'%}

 <main>
 <div class="forget-password">
                
                <div class="row justify-content-center">

                    <div class="col-lg-5 col-md-7">
                        <h2>Change  Password</h2>
                            {% if messages %}
            <div id="message" class="alert alert-warning" role="alert" style="display:none;">
                {% for message in messages %}{{ message }}! {% endfor %}</div>
        {% endif %}
         <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>
            //When the page has loaded.
            $(document).ready(function () {
                $('#message').fadeIn('slow', function () {
                    $('#message').delay(2000).fadeOut();
                });
            });
        </script>
                                                                              
                        <p>Your password is now changed.</p>
                        <a href="{%url 'accounts:login'%}" class="btn btn-primary btn-block btn-lg my-4">Login Here</a>
                      
                    </div>
                </div>

            </div> <!-- container -->

      

</main>





{%include 'client/cake-977/partials/footer.html'%}


{%endblock%}

{%block js%}
{{block.super}}


{%endblock%}