{%extends 'client/cake-977/base.html'%}
{%load static%}
{% load socialaccount %}
{% providers_media_js %}
{%block title%}
    <title>{{page_title}}</title>
{%endblock%}

{%block page_content%}
{%include 'client/cake-977/partials/top_ad.html'%}
{%include 'client/cake-977/partials/mob_navigation.html'%}
{%include 'client/cake-977/partials/desktop_navigation.html'%}
{%include 'client/cake-977/partials/search_bar.html'%}
{%include 'client/cake-977/partials/mob_category.html'%}
{%include 'client/cake-977/partials/tab_category.html'%}
{%include 'client/cake-977/partials/badge_menu.html'%}
{%include 'client/cake-977/partials/mobile_fixed_footer.html'%}


 <main>

  <section class="user__detail">
    {%include 'client/user_profile_and_orders/partials/sidebar.html'%}
      <!--Login Section-->
    <div class="account-login" id="account-login">
      <div class="form-container sign-in-container">

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {%csrf_token%}
          <h1>Change Password</h1>

          {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                             <p>{{ message }}</p>
                        {% endfor %}
                        </ul>
                        {% endif %}
          
          {%if form.errors %} 
        {% for field in form %} 
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} 
        {% endfor %} 
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} 
        {% endif %}
          {{form.oldpassword}}
           {{form.password1}}
            {{form.password2}}
          
          
        {%if redirect_field_value%}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {%else%}
             <input type="hidden" name="next" value="/client/profile/" />
            {%endif%}
          <div class="loginform-btn-section">
            <button class="btn btn-primary" type="submit">Change Password</button>
          </div>
        </form>
        
        
       
      </div>
    </div> 
</section>
    </main>


{%include 'client/cake-977/partials/newsletter.html'%}

{%include 'client/cake-977/partials/footer.html'%}


{%endblock%}

{%block js%}
{{block.super}}


{%endblock%}