{% extends "admin_view/base.html" %}
{% load static %}
{% load humanize %}
{% load custom_tag %}
{% block title %}Delivery Assigned| Admin{% endblock title %}

{% block extra_css %}

<!-- Footable css -->
<link href="{% static 'admin_view/assets/libs/footable/footable.core.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Plugins css -->
<link href="{% static 'admin_view/assets/libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin_view/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'admin_view/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static 'admin_view/assets/libs/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static 'admin_view/assets/libs/footable/footable.core.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Custom box css -->
<link href="{% static 'admin_view/assets/libs/custombox/custombox.min.css' %}" rel="stylesheet">


<!-- App css -->
<link href="{%static 'admin_view/assets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static 'admin_view/assets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{%static 'admin_view/assets/css/app.min.css'%}" rel="stylesheet" type="text/css" />


{% endblock %}


{% block page_content %}
    <div id="wrapper">
        {% block topbar %} {% include 'admin_view/partials/topbar.html' %} {% endblock %}
        {% block sidebar %} {% include 'admin_view/partials/sidebar.html' %} {% endblock %}
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
            

                <!-- Start Content-->
                <div class="container-fluid">



                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">

                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                        <li class="breadcrumb-item active">Delivery Assigned</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Delivery Assigned</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        

                        <div class="col-12">
                            {% include 'admin_view/partials/_alerts.html' %}
                            <div class="card-box" >
                                            
                                    <form method="get" action="{%url 'sales:order-assign-to-delivery-boy' %}">
                                        <div class="row">

                                            
                                            <!-- <a href="#" onclick="abc();" id="delete-bin" class="action-icon ml-1"> <i class="mdi mdi-delete" title="Delete All"></i></a> -->

                                            <a style="margin-left: 10px;" href="#con-close-modal" id="delete-bin" data-toggle="modal"
                                               data-target="#con-close-modal-md" 
                                               class="action-icon"> <i
                                                class="mdi mdi-delete" title="Delete All"></i></a>

                                            <div class="col-lg-2" >
                                                <input class="form-control" placeholder="Order ID or Customer" 
                                                {% if order_keyword %}
                                                    value = "{{order_keyword}}"
                                                {% endif %}
                                                    name='order_keyword'>
                                            </div>

                                

                                        <div class="col-lg-2">
                                            <button type="submit"
                                            class="btn btn-dark waves-effect waves-light ml-2">Search
                                        </button>

                                        
                                    </div>
                                        
                                    </form>


                                <div class="table-responsive" style="margin-top: 15px;overflow-x: unset!important;">
                                
                                    <table id="demo-foo-filtering" class="table toggle-circle mb-0"
                                        data-page-size="20" style=" table-layout: fixed; word-wrap: break-word;">
                                        <thead>
                                            <tr>
                                            
                                                <th data-sort-ignore="true" style="width: 40px;">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck1" onClick="toggle(this)" name="bulk">
                                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                                    </div>
                                                </th>

                                                <!-- <th class="text-center"  data-sort-ignore="true" style="width: 65px;">Type</th> -->
                                                <th class="text-center">Assigned</th>
                                                <th class="text-center">Pickup Date</th>
                                                <th class="text-center">Pickup Time</th>
                                                <th class="text-center">Delivery Status</th>
                                                <th class="text-center">Payment Method</th>
                                                <th class="text-center">Payment Status</th>
                                                <th class="text-center">Order Number</th>
                                                <th class="text-center">Factory</th>
                                                <th class="text-center" data-sort-ignore="true">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <form id="dell" method="post" action="{%url 'sales:delivery-assigned-bulk-delete'%}">
                                                {%csrf_token%}
                                                {% for i in order_assigned %}
                                                    <tr>
                                                        <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input name="foo" type="checkbox" onclick="allCheckboxChecked();" class="custom-control-input" id="customCheck-{{i.id}}" value="{{i.id}}">
                                                                <label class="custom-control-label" for="customCheck-{{i.id}}">&nbsp;</label>
                                                                
                                                            </div>
                                                        </td>
                                                        

                                                        
                                                           
                                                            <td class="text-center"
                                                            >{%if i.user%}<a href="{%url 'accounts:update1-user' i.user.id%}">{{i.user.email}}</a>{%else%} Not Assigned {%endif%}</td>
                                                           
                                                            <td class="text-center">{{i.pickup_date}}</td>
                                                            <td class="text-center"> 
                                                        {{i.pickup_time}}
                                                            </td>

                                                            <td class="text-center"> 
                                                                <!-- {{i.order_item.delivery_status}} -->
                                                                 <select  class="selectpicker" data-style="btn-light" onchange="DeliveryStatus(this,'{{i.order.id}}')" id="status-select-delivery" name="delivery_status">
                                                            
                                                                <option 
                                                    
                                                            
                                                            {% if i.order.delivery_status == 'New' %}
                                                                selected
                                                            {% endif %}
                                                                
                                                        
                                                            value="New">New</option>
                                                    <option 
                                                    
                                                            
                                                            {% if i.order.delivery_status == 'Accepted' %}
                                                                selected
                                                            {% endif %}
                                                                
                                                    
                                                            value="Accepted">Accepted</option>
                                                            <option 
                                                    
                                                            
                                                            {% if i.order.delivery_status == 'Picked' %}
                                                                selected
                                                            {% endif %}
                                                                
                                                    
                                                            value="Picked">Picked</option>
                                                    <option 
                                                        
                                                            
                                                            {% if i.order.delivery_status == 'Complete' %}
                                                                selected
                                                            {% endif %}
                                                                
                                                        
                                                            value="Complete">Complete</option>
                                                        <option 
                                                        
                                                            
                                                            {% if i.order.delivery_status == 'Cancelled' %}
                                                                selected
                                                            {% endif %}
                                                                
                                                        
                                                            value="Cancelled">Cancelled</option>

           
                                                            </td>
                                                            <td class="text-center"> 
                                                              {{i.order.payment_method}}
                                                            </td>
                                                            <td class="text-center"> 
                                                             {{i.order.payment_status}}
                                                            </td>
                                                            <td class="text-center"> 
                                                               <a href="{%url 'sales:view-order' i.order.id%}"> {{i.order.order_number}}</a>
                                                            </td>
                                                            
                                                            <td>{{i.factory}}</td>                                               
                                                
                                                        <td class="text-center">

                                    
                                                             <a onclick="send_delivery_on_confirmed({{i.order.id}});" class="action-icon"> <i
                                                                    class="fas fa-user" title="Assign Delivery Boy"></i></a>

                                                                    
                                                            <a href="#con-close-modal" data-toggle="modal"
                                                                data-target="#con-close-modal-{{i.id}}" 
                                                                class="action-icon"> <i
                                                                        class="mdi mdi-delete" title="Delete"></i></a>
                
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </form>

                                        </tbody>
                                        <!-- <tfoot>
                                            <tr class="active">
                                                <td colspan="9">
                                                    <div class="text-right">
                                                        <ul
                                                            class="pagination pagination-rounded justify-content-end footable-pagination m-t-10 mb-0">
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot> -->
                                    </table>

                                    <div class="paginations" style="float: right; display: flex;">
                                        <ul>
                                          {%if order_assigned.number == 1 %}
                                          <li class="paginationbtn btn-prev"><i class="fa fa-angle-left"></i></li>
                                          <li class="numb"><a href="?page=1{%if order_keyword%}&order_keyword={{order_keyword}}{%endif%}">1</a></li>
                                          {% if order_assigned.has_next %}
                                          <li class="numb"><a href="?page=2{%if order_keyword%}&order_keyword={{order_keyword}}{%endif%}">2</a></li>
                                          {%endif%}
                                      
                                          {% elif order_assigned.has_previous %}
                                          <li class="paginationbtn btn-prev"><a href="?page={{ order_assigned.previous_page_number }}{%if order_keyword%}&order_keyword={{order_keyword}}{%endif%}"><i class="fa fa-angle-left"></i></a></li>
                                          <li class="numb"><a href="?page=1{%if order_keyword%}&order_keyword={{order_keyword}}{%endif%}">1</a></li>
                                          {%if order_assigned.number > 2 %}
                                          <li class="dots">...</li>
                                          {%endif%}
                                          <li class="numb"><a href="?page={{order_assigned.number}}{%if order_keyword%}&order_keyword={{order_keyword}}{%endif%}">{{order_assigned.number}}</a></li>
                                          {%if order_assigned.number != order_assigned.paginator.num_pages%}
                                          <li class="numb"><a href="?page={{order_assigned.number |add:1 }}{%if order_keyword%}&order_keyword={{order_keyword}}{%endif%}">{{order_assigned.number| add:1 }}</a></li>
                                          {%endif%}
                                          {% endif %}
                                      
                                          <li class="dots">...</li>
                                          {%if order_assigned.number == order_assigned.paginator.num_pages%}
                                          <li class="numb"><a href="?page={{ order_assigned.paginator.num_pages }}{%if order_keyword%}&order_keyword={{order_keyword}}{%endif%}">{{ order_assigned.paginator.num_pages }}</a></li>
                                          <li class="paginationbtn btn-next"><i class="fa fa-angle-right"></i></li>
                                          
                                          {% elif order_assigned.has_next %}
                                          <li class="numb"><a href="?page={{ order_assigned.paginator.num_pages }}{%if order_keyword%}&order_keyword={{order_keyword}}{%endif%}">{{ order_assigned.paginator.num_pages }}</a></li>
                                          <li class="paginationbtn btn-next"><a href="?page={{ order_assigned.next_page_number }}{%if order_keyword%}&order_keyword={{order_keyword}}{%endif%}"> <i class="fa fa-angle-right"></i></a></li>
                                          {% endif %}
                                        </ul>
                                      </div>

                                </div> <!-- end .table -->
                                 
                            </div> <!-- end card-box -->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->



                </div> <!-- container -->

            </div> <!-- content -->

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
        </div>
    </div>
    
      
        <div id="assign-delivery-boy" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Reassign Delivery Boy</h4>
                    </div>
                     <form method="post" action="{% url 'sales:ajax-assign-delivery-boy' %}" id="delivery-boy">
                     
					            {% csrf_token %}
                    <div class="modal-body p-4">
			            <div class="form-group">
			                <label for="name">Select Delivery Person</label>
			               {{delivery_form.user}}
			            </div>
                        <div class="form-group">
                            <label for="name">Factory</label>
                           {{delivery_form.factory}}
                        </div>
			            <div class="form-group">
			                <label for="date">Select Delivery Date</label>
			               <input type="date" name="pickup_date" class="form-control" required id="id_today_date">
			            </div>
			           <div class="form-group">
			                <label for="date">Select Delivery Time</label>
			               <input type="time" name="pickup_time" class="form-control" required>
			            </div>
			            <input type="hidden" name="order" id="order_id">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success waves-effect waves-light" onclick="assignDeliveryBoy()">Save</button>
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>



      <div id="con-close-modal-md" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Orders ?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body p-4">
                        Are you sure want to delete selected orders ?
                    </div>
                    <div class="modal-footer">

                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                            <button type="submit" onclick="abc();" class="btn btn-info waves-effect waves-light">Delete</button>
                        
                    </div>
                </div>
            </div>
        </div>  



 {%for i in order_assigned%}
        <div id="con-close-modal-{{i.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete assigned order ?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body p-4">
                        Are you sure want to delete assigned  order ?
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{% url 'sales:delete-delivery-assigned' i.id %}">
                            {% csrf_token %}
                            <!-- <input type="hidden" id="brand_id" name="brand_id"> -->
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-info waves-effect waves-light">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}


<!-- END wrapper -->
{% block footer %} {% include 'admin_view/partials/footer.html' %} {% endblock %}
{% block right_sidebar %} {% include 'admin_view/partials/right-sidebar.html' %} {% endblock %} {% endblock %}
{% block extra_javascript %}
<script>
    function send_delivery_on_confirmed(id){
        $("#order_id").val(id);
        $('#assign-delivery-boy').modal('show');
    }
</script>




<!-- Plugins js-->
<script src="{% static 'admin_view/assets/libs/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'admin_view/assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>


<script src="{% static 'admin_view/assets/js/pages/form-pickers.init.js' %}"></script>



<script src="{% static 'admin_view/assets/libs/bootstrap-select/bootstrap-select.min.js' %}"></script>

<!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>     -->

<script src="   https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>


<script src="{% static 'admin_view/assets/libs/footable/footable.all.min.js' %}"></script>

<!-- Init js -->
<script src="{% static 'admin_view/assets/js/pages/foo-tables.init.js' %}"></script>


 <!-- Tost-->
 <script src="{% static 'admin_view/assets/libs/jquery-toast/jquery.toast.min.js' %}"></script>
  <!-- toastr init js-->
<script src="{% static 'admin_view/assets/js/pages/toastr.init.js' %}"></script>




<script type="text/javascript">
    function abc(){
        
       document.getElementById('dell').submit();

    }
</script>
  

<script>
    function toggle(source) {
    checkboxes = document.getElementsByName('foo');
    for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
    }

    var checkBox = 'input[type="checkbox"]';
    if ($(checkBox+':checked').length == $(checkBox).length) {
        $("#delete-bin").show();
    }else{
        $("#delete-bin").hide();
    }
}

function allCheckboxChecked(){
    $("#delete-bin").show();
   
    var checkBox = 'input[name="foo"]';
    if ($(checkBox+':checked').length == 0) {
        $("#delete-bin").hide();
        $('#customCheck1').prop('checked', false);
    }else if($(checkBox+':checked').length == $(checkBox).length){
        $('#customCheck1').prop('checked', true);

    }
   
}
$("#delete-bin").hide();
</script>



<script type="text/javascript">
        function DeliveryStatus(item,orderID){
        var status = item.value;
        var id = orderID;

        $.ajax({
        url: '{%url 'sales:order-delivery-status-update'%}',
        data: {
          'delivery_status': status,
          'order_id':orderID,
        },
        dataType: 'json',
        success: function (data) {
         (window.jQuery),
            function (i) {
               "use strict";
               i.NotificationApp.send("Update !", `Delivery Status Updated`, "top-right", "#5ba035;", "success")

            }(window.jQuery);
        }
      });

    }

</script>




<script>
	function assignDeliveryBoy(){
		
		var form=$('#delivery-boy').serialize();
		console.log(form)
		
		$.ajax({
			url:'{%url 'sales:ajax-assign-delivery-boy'%}',
			method:'POST',
			data:form,
		success:function(data){
			if(data['status']===200){
				// $('#assign-delivery-boy').modal('hide');


				location.reload()
            

			}
			if(data['error']){
				alert(data['error'])
			}
		}

		});
		
	}
</script>

{% endblock %}