<!-- 
{%if flavour_quick%}
<section class="quick-filters">
    <ul>

      <li class="list-label">Flavours : </li>
      {%if category_%}
      <a href="{{category_.get_absolute_url}}?page={{page}}" style="color:#333;">
      <li {%if not filter_by_flavour%} class="cat-filter-list active" {%else%}class="cat-filter-list" {%endif%} >
        <span>All Flavour</span>
        
      </li>
      </a>
      {%for i in flavour_quick%}
      <a href="{{category_.get_absolute_url}}?flavour_quick={{i.slug}}&page={{page}}" style="color:#333;">
      <li {%if filter_by_flavour == i.slug%} class="cat-filter-list active" {%else%} class="cat-filter-list" {%endif%}>
        <span>{{i.name|title}}</span>
        
      </li>
      </a>
      {%endfor%}
      {%endif%}
      {%if occasion_%}
      <a href="{{occasion_.get_absolute_url}}?page={{page}}" style="color:#333;">
      <li {%if not filter_by_flavour%} class="cat-filter-list active" {%else%}class="cat-filter-list" {%endif%} >
        <span>All Flavour</span>
        
      </li>
      </a>
      {%for i in flavour_quick%}
      <a href="{{occasion_.get_absolute_url}}?flavour_quick={{i.slug}}&page={{page}}" style="color:#333;">
      <li {%if filter_by_flavour == i.slug%} class="cat-filter-list active" {%else%} class="cat-filter-list" {%endif%}>
        <span>{{i.name|title}}</span>
        
      </li>
      </a>
      {%endfor%}
      {%endif%}
      {%if store%}
      <a href="{{store.get_absolute_url}}?page={{page}}" style="color:#333;">
      <li {%if not filter_by_flavour%} class="cat-filter-list active" {%else%}class="cat-filter-list" {%endif%} >
        <span>All Flavour</span>
        
      </li>
      </a>
      {%for i in flavour_quick%}
      <a href="{{store.get_absolute_url}}?flavour_quick={{i.slug}}&page={{page}}" style="color:#333;">
      <li {%if filter_by_flavour == i.slug%} class="cat-filter-list active" {%else%} class="cat-filter-list" {%endif%}>
        <span>{{i.name|title}}</span>
        
      </li>
      </a>
      {%endfor%}
      {%endif%}

      {%if keywords%}
      <a href="{%url 'client:product-search'%}?page={{page}}&keywords={{keywords}}" style="color:#333;">
      <li {%if not filter_by_flavour%} class="cat-filter-list active" {%else%}class="cat-filter-list" {%endif%} >
        <span>All Flavour</span>
        
      </li>
      </a>
      {%for i in flavour_quick%}
      <a href="{%url 'client:product-search'%}?flavour_quick={{i.slug}}&page={{page}}&keywords={{keywords}}" style="color:#333;">
      <li {%if filter_by_flavour == i.slug%} class="cat-filter-list active" {%else%} class="cat-filter-list" {%endif%}>
        <span>{{i.name|title}}</span>
        
      </li>
      </a>
      {%endfor%}
      {%endif%}
      
    </ul>
  </section>
{%endif%} -->


      <section class="quick-filters">
        <ul>
          <li class="list-label">Quick Filters : </li>
          {%if flavour_quick%}
          <li>
            <form>
            <select onchange="this.form.submit()" name="flavour_quick">
              <option value="">By All Flavour</option>
              {%for i in flavour_quick%}
              <option value="{{i.slug}}" {%if filter_by_flavour == i.slug%}selected{%endif%}>{{i.name|title}}</option>
              {%endfor%}
            </select>
            <input type="hidden" name="page" value="{{page}}">
            {%if keywords%}
          <input type="hidden" name="keywords" value="{{keywords}}">
          {%endif%}
          <input type="hidden" name="tags_quick" {%if filter_by_tags%}value="{{filter_by_tags}}"{%endif%}>
          <input type="hidden" name="occasion_quick" {%if filter_by_occasion%}value="{{filter_by_occasion}}"{%endif%}>
            </form>
          </li>
          {%endif%}

          
          {%if tags_quick%}
          
          <li>
            <form>
            <select name="tags_quick" onchange="this.form.submit()">
              <option value="">All Tags</option>
              {%for i in tags_quick%}
              <option value="{{i.name}}" {%if filter_by_tags == i.name%} selected {%endif%}>{{i.name|title}}</option>
              {%endfor%}
              
            </select>
            <input type="hidden" name="page" value="{{page}}">
            {%if keywords%}
            <input type="hidden" name="keywords" value="{{keywords}}">
            {%endif%}
            <input type="hidden" name="flavour_quick" {%if filter_by_flavour%}value="{{filter_by_flavour}}"{%endif%}>
            <input type="hidden" name="occasion_quick" {%if filter_by_occasion%}value="{{filter_by_occasion}}"{%endif%}>
            </form>
          </li>
          
          {%endif%}

          <li>
            {%if occasion_quick%}
            <form>
            <select name="occasion_quick" onchange="this.form.submit()">

              <option value="">All Occasion</option>
              {%for i in occasion_quick%}
              <option value="{{i.slug}}" {%if filter_by_occasion == i.slug%}selected{%endif%}>{{i.name|title}}</option>
              {%endfor%}
            </select>
            <input type="hidden" name="page" value="{{page}}">
            {%if keywords%}
          <input type="hidden" name="keywords" value="{{keywords}}">
          {%endif%}
          <input type="hidden" name="flavour_quick" {%if filter_by_flavour%}value="{{filter_by_flavour}}"{%endif%}>
            <input type="hidden" name="tags_quick" {%if filter_by_tags%}value="{{filter_by_tags}}"{%endif%}>
            </form>
             
            {%endif%}
          </li>
          
        </ul>
      </section>

     