 <section class="Badge-Menu">
        <ul class="Badge-Menu-list">
      
          <!-- {%for i in category_badge %}
          <li {% if request.path == i.get_absolute_url %} class="current-occasion" {% endif %}>
            <a href="{{i.get_absolute_url}}">{{i.name|title}}</a>
          </li>
          {%endfor%} -->

          <li class="current-occasion">
            <a href="{{category_badge.0.get_absolute_url}}">{{category_badge.0.name|title}}</a>
          </li>

          {%for i in category_badge|slice:"1:" %}
          <li>
            <a href="{{i.get_absolute_url}}">{{i.name|title}}</a>
          </li>
          {%endfor%}
         
        </ul>
        {%if settings.contact_number%}
      <div class="Badge-Menu-contact">

        <p>Call us: {{settings.contact_number}}</p>
        
      </div>
      {%endif%}
    </section>





     