{%load static%}
<div class="payment-partners">
      <h4 class="brand-subtitle">We accept</h4>
      <ul>
        <li><a href="https://khalti.com/"><img src="{%static 'cake-977/img/Khalti-01.png'%}" width="100px" target="_blank"></a></li>
        <div id="eSewaLogoSection"></div>
        <!-- <li><a href="#"><img src="./img/esewa.png" width="100px"></a></li> -->
        <li><a href="https://www.imepay.com.np/" target="_blank"><img src="{%static 'cake-977/img/imepaylogo.png'%}" width="120px" target="_blank"></a></li>
        <li><a href="https://www.nicasiabank.com/" target="_blank"><img src="{%static 'cake-977/img/NIC-1.png'%}" width="100px"></a></li>

        <li class="visa-card"><a href="https://www.nicasiabank.com/product/cards/card-based-internet-payment-gateway" target="_blank"><img src="{%static 'cake-977/img/visa.png'%}" width="100px"></a></li>
        <li class="mastercard"><a href="https://www.nicasiabank.com/product/cards/card-based-internet-payment-gateway" target="_blank"><img src="{%static 'cake-977/img/mastercard.png'%}" width="80px" height="60px"></a></li>
        
      </ul>
    </div>