
<!Doctype html>
{%load static%}

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% autoescape off %}
  {%if settings.script_tags%}
  {{settings.script_tags}}
  {%endif%}
  {% endautoescape %}

<meta name="google-site-verification" content="I_LRks1XDJhgUHyxeaFay2qPjZME26qFDwUgSHRrVeE" />
<meta name="google-site-verification" content="uGb9I__8PnKcZNaGkpLsnJbiashVDLHdtcDQYy9WfaI" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{%static 'cake-977/css/style.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'cake-977/css/responsive.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'cake-977/css/tabview.css'%}">
  <link rel="stylesheet" type="text/css" href="{%static 'cake-977/css/bigscreen.css'%}">
  <link rel="stylesheet" href="{%static 'cake-977/css/owl.carousel.min.css'%}">
  <link rel="icon" href="{% static 'cake-977/ohologo.png' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://ohocake.com/">
<meta property="og:title" content="Oho cake">
<meta property="og:description" content="We are exactly what you are looking for. We bring to you an online cake delivery service where you can purchase and order your favorite cakes - creating a unique bakery shopping experience without having to hop from one shop or website to another looking for your desired cake. We ambitiously claim to deliver 100% fresh cakes at your doorstep with complete ease and care on the same day or as planned. Our online cake delivery in Kathmandu, Bhaktapur, and Lalitpur allows for cross-country purchases enabling you to send delicious cakes to your parents, relatives, or friends on various occasions from any part of the world.We invite you to celebrate your special occasions with your favorite cakes from oho! cake ">
<meta property="og:image:secure_url" content="https://ohocake.com/static/cake-977/ohologo.png">
<meta property="og:image:width" content="400" /> 
<meta property="og:image:height" content="300" />


<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://ohocake.com/">
<meta property="twitter:title" content="Oho cake Nepal">
<meta property="twitter:description" content="We are exactly what you are looking for. We bring to you an online cake delivery service where you can purchase and order your favorite cakes - creating a unique bakery shopping experience without having to hop from one shop or website to another looking for your desired cake. We ambitiously claim to deliver 100% fresh cakes at your doorstep with complete ease and care on the same day or as planned. Our online cake delivery in Kathmandu, Bhaktapur, and Lalitpur allows for cross-country purchases enabling you to send delicious cakes to your parents, relatives, or friends on various occasions from any part of the world.We invite you to celebrate your special occasions with your favorite cakes from oho! cake ">
<meta property="twitter:image" content="https://ohocake.com/static/cake-977/ohologo.png">
  {%block extra_css%}
  {%endblock%}
  {%block title%}

  {%endblock%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DZ2G2K0B7R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DZ2G2K0B7R');
</script>
</head>

<body>
  {%block page_content%}
  

  {%endblock%}

  

    
  <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=G-DZ2G2K0B7R"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
  {%block js%}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{%static 'cake-977/js/owl.carousel.min.js'%}"></script>
  <script src="{%static 'cake-977/js/carousel.js'%}"></script>
  <script src="{%static 'cake-977/js/dropdown-hover.js'%}"></script>
  <script src="{%static 'cake-977/js/tab-carousel.js'%}"></script>
  <script src="{%static 'cake-977/js/mob-bottom-menu.js'%}"></script>
    <script src="{%static 'cake-977/js/sidemenu.js'%}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>


  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

<script id="1" language="JavaScript" type="text/javascript" src="https://cdn.esewa.com.np/ui/js/eSewa_logo/script.js" data-width="100px" data-elementId="eSewaLogoSection" data-type="DARK"></script>


  {%if messages%}
  {%for message in messages%}
  <script>
    $.notify('{{message}}', 'info');
  </script>
  {%endfor%}
  {%endif%}




  {%endblock%}

  {% block show_message %}
  <script>
    function showMessage(message,title="Error"){
      $("#msg-modal-text").text(message);
      $("#msg-modal").modal('show');
      $("#modal-title").text(title);

      if(title==="Success"){
        $("#modal-title").css('color', 'green');
      }else{
        $("#modal-title").css('color', 'red');
      }
    }
  </script>

  <script>
    function showMessage1(message,title="Error"){
      $("#msg-modal-text").text(message);
      $("#msg-modal-1").modal('show');
      $("#modal-title").text(title);

      // if(title==="Success"){
      //   $("#modal-title").css('color', 'green');
      // }else{
      //   $("#modal-title").css('color', 'red');
      // }
    }
  </script>
  
{% endblock show_message %}

  

   <!-- Modal -->
   <div class="modal fade" id="msg-modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h5 class="modal-title" id="modal-title"></h5>
        </div>
        <div class="modal-body">
          <p id="msg-modal-text" class="text-center" style="padding: 15px;"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
  



<!-- ----------model when cart empty------------- -->
<!-- Modal/ From here only -->
   <div class="modal fade" id="msg-modal-1" role="dialog" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #E3323A; color: #fff;">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h5 class="modal-title" id="modal-title" style="margin: auto;">Your Cart is Empty!</h5>
        </div>
        <div class="modal-body">
          <p id="msg-modal-text" class="text-center" style="padding: 2px 15px;">
            <img src="{%static 'cake-977/img/empty.jpg'%}" height="100px" width="100px">
            <p style="text-align:center; font-size: 13px;" id="msg-cart-empty">Looks like you haven’t made a choice yet.</p>
        </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: #E3323A;">Close</button>
        </div>
      </div>
    </div>
  </div>




<script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "100311815330330");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v12.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

</body>