{%extends 'client/cake-977/base.html'%}
{%load static%}
{%block title%}
    <title>Payment Failed</title>
{%endblock%}

{%block page_content%}
{%include 'client/cake-977/partials/top_ad.html'%}
{%include 'client/cake-977/partials/mob_navigation.html'%}
{%include 'client/cake-977/partials/desktop_navigation.html'%}
{%include 'client/cake-977/partials/search_bar.html'%}
{%include 'client/cake-977/partials/mob_category.html'%}
{%include 'client/cake-977/partials/tab_category.html'%}
{%include 'client/cake-977/partials/mobile_fixed_footer.html'%}

{%include 'client/cake-977/partials/badge_menu.html'%}
<!--Order Successful-->
    <div class="main_success">
        <div class="order_successful" id="order_successful">
        <h1>Payment Failed</h1>
        <i class="far fa-times-circle" style="font-size: 80px;margin-top: 20px;margin-bottom: 20px;color: #E3323A;"></i> <br>
        <h2>Opps !! Your requested payment was unsucessful.</h2>
        <p></p>
        <span class="user-email">{{order.0.delivery_address.email}}</span>
        <p class="continue-link"><a href="{%url 'client:catalog'%}">Continue Shopping</a>
        {% if user.is_authenticated %}
        <a href="{%url 'client:client-orders'%}" style="margin-left: 20px;">View My Orders</a>
        {% endif %}
        </p>
        </div>
    </div>
      {%include 'client/cake-977/partials/payment_partner.html'%}

{%include 'client/cake-977/partials/footer.html'%}


{%endblock%}

{%block js%}
{{block.super}}


{%endblock%}