{% load static %}
{% load custom_tag %}
 
<!-- Topbar Start -->
<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">



        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#"
                role="button" aria-haspopup="false" aria-expanded="false">
                <img src="{% static 'admin_view/images/user.png' %}" alt="user-image" class="rounded-circle">
                <span class="pro-user-name ml-1">
                    {{user.username}} <i class="mdi mdi-chevron-down"></i>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                <!-- item-->
                <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome <br>{{user.email}}</h6>
                </div>

                <div class="dropdown-divider"></div>

                <!-- item-->
                <form id="logout" action="{% url 'account_logout' %}" method="post">
                    {% csrf_token %}
                <a href="javascript:{};" onclick="document.getElementById('logout').submit();" class="dropdown-item notify-item">
                    <i class="fe-log-out"></i>
                    <span>Logout</span>
                </a>
                 <input type="hidden" name="next" value="/admin/" />
                </form>

            </div>
        </li>

      


    </ul>

    <!-- LOGO -->
    <div class="logo-box">
        <a href="{%url 'dashboard:admin-dashboard'%}" class="logo text-center">
            <span class="logo-lg">
                <h4 style="color: white; margin-top: 22px;">{{ request.user|outlet_name }}</h4>
                <!-- <img src="{% static 'admin_view/images/logo.png' %}" alt="" height="34"> -->
            </span>
            <span class="logo-sm">
                <img src="{% static 'img/smarttech.png' %}" alt="" height="24">
            </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile waves-effect waves-light">
                <i class="fe-menu"></i>
            </button>
        </li>


    </ul>
</div>
<!-- end Topbar -->