{% extends "admin_view/base.html" %}
{% load static %}
{% block title %}Add Product | Admin{% endblock title %}
{% block extra_css %}
<style type="text/css">
    .asteriskField {
    color: red;
}
</style>

<!-- Plugins css-->
<link href="{% static 'admin_view/assets/libs/select2/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin_view/assets/libs/multiselect/multi-select.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin_view/assets/libs/summernote/summernote-bs4.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin_view/assets/libs/dropzone/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin_view/assets/libs/dropify/dropify.min.css' %}" rel="stylesheet" type="text/css" />

<!-- App css -->
<link href="{% static 'admin_view/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin_view/assets/css/icons.min.css' %} " rel="stylesheet" type="text/css" />
<link href="{% static 'admin_view/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block page_content %}

<div id="wrapper">
    {% block topbar %} {% include 'admin_view/partials/topbar.html' %} {% endblock %}
    {% block sidebar %} {% include 'admin_view/partials/sidebar.html' %} {% endblock %}
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
                

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                    <li class="breadcrumb-item active">Add Product</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Add Product ({{store.name|title}})</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="card-box" style="padding-left:12px !important; padding-right:12px !important; padding-top: 15px;">
                          
                    <ul class="nav nav-tabs nav-bordered nav-justified">

                        <li class="nav-item">
                            <a href="#customer-new" data-toggle="tab" aria-expanded="true"
                                class="nav-link active">
                                GENERAL
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#customer-most-orders" data-toggle="tab" aria-expanded="true"
                                class="nav-link">
                                VARIENTS
                            </a>
                        </li>
                      

                    </ul>
                    <form method="POST" action="{%url 'catalog:product-create' store__slug%}" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="tab-content">
                       
                        <div class="tab-pane active" id="customer-new">
                           {% include 'admin_view/catalog/partials/_product-general.html' %}
                        </div>

                        <div class="tab-pane" id="customer-most-orders">
                            {% include 'admin_view/catalog/partials/_product-varient.html' %}
                        </div>
                    


                    </div>
                        <button type="submit" class="btn w-sm btn-success waves-light ml-2 mr-3" style="float:right;">Save</button>

                        <button type="button" class="btn w-sm btn-light waves-effect" style="float:right;"><a
                                    href="{%url 'catalog:product' store__slug%}">Cancel</a></button>



                        <div class="row p-3"></div>



                </form>
        </div>
                <!-- end card-box-->

            </div> <!-- container -->

        </div> <!-- content -->



        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2015 - 2019 &copy; UBold theme by <a href="">Coderthemes</a>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript:void(0);">About Us</a>
                            <a href="javascript:void(0);">Help</a>
                            <a href="javascript:void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>
</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->
{% block footer %} {% include 'admin_view/partials/footer.html' %} {% endblock %}
{% block right_sidebar %} {% include 'admin_view/partials/right-sidebar.html' %} {% endblock %} {% endblock %}
{% block extra_javascript %}
<script type="text/javascript">

    function save() {
        $("#abc").submit();
    }
</script>
<!-- App js -->
<script src="{% static 'admin_view/assets/js/vendor.min.js' %}"></script>
<script src="{% static 'admin_view/assets/libs/multiselect/jquery.multi-select.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!-- Summernote js -->
<script src="{% static 'admin_view/assets/libs/summernote/summernote-bs4.min.js' %}"></script>
<!-- Select2 js-->
<script src="{% static 'admin_view/assets/libs/select2/select2.min.js' %}"></script>
<!-- Dropzone file uploads-->
<script src="{% static 'admin_view/assets/libs/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'admin_view/assets/libs/dropify/dropify.min.js' %}"></script>
<!-- Init js-->
<script src="{% static 'admin_view/assets/js/pages/form-fileuploads.init.js' %}"></script>
<!-- Init js -->
<script src="{% static 'admin_view/assets/js/pages/form-advanced.init.js' %} "></script>

<script type="text/javascript">
    
$("#id_name").keyup(function(){
        var Text = $(this).val();
        Text = Text.toLowerCase();
        Text = Text.replace(/[^a-zA-Z0-9]+/g,'-');
        $("#id_slug").val(Text);        
});
</script>



<!-- <script>
    var uploadField = document.getElementById("id_image");
    
    uploadField.onchange = function() {
        if(this.files[0].size > 2200000){
           alert("File is too big!");
           this.value = "";
        };
    };
    </script> -->
{% endblock %}