{% extends "admin_view/base.html" %} 
{% load static %}
{% block title %}Dashboard | Admin{% endblock title %}
{% block extra_css %}

  <!-- Plugins css-->
  <link href="{% static 'admin_view/assets/libs/select2/select2.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'admin_view/assets/libs/summernote/summernote-bs4.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'admin_view/assets/libs/dropzone/dropzone.min.css' %}" rel="stylesheet" type="text/css" />

   <!-- App css -->
        <link href="{% static 'admin_view/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_view/assets/css/icons.min.css' %} " rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_view/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}
{% block page_content %}
<div id="wrapper">
   {% block topbar %} {% include 'admin_view/partials/topbar.html' %} {% endblock %} 
   {% block sidebar %} {% include 'admin_view/partials/sidebar.html' %} {% endblock %}
   <!-- ============================================================== -->
   <!-- Start Page Content here -->
   <!-- ============================================================== -->
   <div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
          
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                <li class="breadcrumb-item active">Category</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Add Excel</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 
             <div class="col-lg-6">
                    
                    <div class="card-box">
                      <form method="post" action="{%url 'catalog:excel-upload'%}"  enctype="multipart/form-data">
                        {%csrf_token%}
                        {{form.as_p}}
                        <input type="submit" name="submit" value="submit">
                      </form>
                    </div>

              </div>
            
</div>
</div>

</div>
<!-- END wrapper -->
{% block footer %} {% include 'admin_view/partials/footer.html' %} {% endblock %}
{% block right_sidebar %} {% include 'admin_view/partials/right-sidebar.html' %} {% endblock %} {% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
    
function save(){
   $("#abc").submit();
}
</script>
    <!-- App js -->
    <script src="{% static 'admin_view/assets/js/vendor.min.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

  <!-- Summernote js -->
  <script src="{% static 'admin_view/assets/libs/summernote/summernote-bs4.min.js' %}"></script>
  <!-- Dropzone file uploads-->
  <script src="{% static 'admin_view/assets/libs/dropzone/dropzone.min.js' %}"></script>

  <!-- Init js -->
  <script src="{% static 'admin_view/assets/js/pages/add-product.init.js' %}"></script>

{% endblock %}